/* Container centralizado */
.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    text-align: center;
}

/* Conteúdo */
.content {
    max-width: 320px;
}

/* Código 404 */
.title {
    font-family: var(--fonte-Poppins);
    font-weight: var(--fonte-bold);
    font-size: 64px;
    margin-bottom: 12px;
    color: var(--cor-azul);
}

/* Mensagem */
.message {
    font-size: 16px;
    font-weight: var(--fonte-regular);
    margin-bottom: 24px;
    line-height: 1.5;
}

/* Botão */
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 8px;
    font-weight: var(--fonte-medio);
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--cor-bege);
}

/* 📱 Tablet */
@media (min-width: 768px) {
    .content {
        max-width: 380px;
    }

    .title {
        font-size: 80px;
    }

    .message {
        font-size: 18px;
    }
}

/* 💻 Desktop */
@media (min-width: 1024px) {
    .title {
        font-size: 96px;
    }

    .message {
        font-size: 20px;
    }

    .btn {
        padding: 14px 28px;
    }
}