<footer aria-labelledby="titulo-footer">

    <h2 id="titulo-footer" class="visually-hidden">Informações da empresa Dominus Cafés</h2>

    <!-- Marketing -->
    <section class="marketing" aria-labelledby="titulo-marketing">
        <h3 id="titulo-marketing">Faça seu pedido agora!</h3>

        <h4>Condições especiais para varejo e revenda.</h4>

        <p><span>Dominus Cafés - </span>Produzir • Educar • Servir</p>

    </section>

    <!-- Contatos -->
    <section class="contatos" aria-labelledby="titulo-contatos">
        <!-- Telefone -->
        <h3 id="titulo-contatos">Contatos</h3>

        <a href="tel:+5531984504703" aria-label="Ligar para o telefone +55 (31) 98450-4703">

            <img src="icones/telefone.svg" alt="ícone de telefone tocando" aria-hidden="true">

            <span>Telefone:</span>
            +55 (31) 98450-4703

        </a>

        <!-- E-mail -->
        <a href="mailto:dominuscafes@gmail.com" aria-label="Eviar e-mail para dominuscafes@gmail.com">

            <img src="icones/email.svg" alt="ícone de carta aberta" aria-hidden="true">

            <span>E-mail:</span>

            dominuscafes@gmail.com
        </a>
    </section>

    <!-- Avaliação -->
    <section class="avaliacao" aria-labelledby="titulo-avaliacao">

        <h3 id="titulo-avaliacao">Conte como foi sua experiência</h3>
        <!-- Botão -->
        <a href="#"> Avalie Nossa Empresa!</a>

    </section>

    <!-- Formas de pagamento -->
    <section class="tipos__pagamentos" aria-labelledby="titulo-pagamentos">

        <h3 id="titulo-pagamentos" class="visually-hidden">
            Formas de pagamento aceitas
        </h3>

        <ul>

            <li>
                <img src="icones/mastercard.svg" alt="Mastercard">
            </li>

            <li>
                <img src="icones/visa.svg" alt="Visa">
            </li>

            <li>
                <img src="icones/elo.svg" alt="Elo">
            </li>

            <li>
                <img src="icones/pix.svg" alt="Pix">
            </li>

        </ul>

    </section>

    <!-- faixa autoral -->
    <small>
        © 2025 <strong>Dominus Cafés</strong>. Todos os direitos reservados. CNPJ: 50.688.196/0001-27.
    </small>

</footer>