<header #headerContainer>
    <div class="header__container">
        <!-- logo -->
        <a routerLink="/" aria-label="Ir para a página inicial da Dominus Cafés">
            <img src="logo.svg" alt="Logo Dominus Cafés" width="120" height="40">
        </a>


        <!-- links -->
        <nav aria-label="Navegação principal">

            <!-- Links principais -->
            <ul class="links__navegar" [class.menu-open]="isMenuOpen">
                <li>
                    <a href="#catalogo" (click)="closeMenu()">

                        <img src="icones/icone-header-xicara.svg" alt="" aria-hidden="true" width="auto" height="14">

                        <span>Catálogo</span>

                    </a>
                </li>

                <li>
                    <a routerLink="/sobre" (click)="closeMenu()">

                        <img src="icones/icone-header-caneta.svg" alt="" aria-hidden="true" width="auto" height="14">

                        <span>Sobre nós</span>

                    </a>
                </li>

            </ul>

            <!-- Redes sociais -->
            <ul class="redes__sociais" aria-label="Redes sociais da Dominus Cafés">

                <li>
                    <a href="https://www.facebook.com/share/1BE3Cu4C9G/" target="_blank" rel="noopener noreferrer"
                        aria-label="Conta no facebook da Dominus Cafés (abre em nova aba)">

                        <img src="icones/icone-facebook.svg" alt="ícone Facebook" aria-hidden="true" width="28" height="28">

                        <span>Dominus Cafés</span>

                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/dominuscafes/" target="_blank" rel="noopener noreferrer"
                        aria-label="Perfil da Dominus Cafés no Instagram (abre em nova aba)">

                        <img src="icones/icone-inst.svg" alt="ícone instagram" aria-hidden="true" width="28" height="28">

                        <span>dominuscafes</span>

                    </a>
                </li>

            </ul>

            <!-- Botão mobile -->
            <button type="button" class="botao_menu icone_menu" (click)="toggleMenu()" [class.menu-fechar]="isMenuOpen"
                [class.menu-abrir]="!isMenuOpen" [attr.aria-expanded]="isMenuOpen" aria-label="Abrir menu de navegação">

                <span class="bar" id="bar1"></span>
                <span class="bar" id="bar2"></span>
                <span class="bar" id="bar3"></span>

            </button>

        </nav>
    </div>

</header>

<!-- sobreposição -->
@if (isMenuOpen) {
<div class="menu-sobreposicao" (click)="closeMenu()"></div>
}