<a [href]="whatsAppMessage" target="_blank" rel="noopener noreferrer" class="whatsapp" [class.whatsapp--open]="isOpen()"
    aria-label="Contato via WhatsApp">

    <button class="whatsapp__trigger" aria-controls="whatsapp-box" (click)="toggleWhatsApp()"
        [attr.aria-expanded]="isOpen()">

        <img src="icones/whatsapp.svg" alt="Falar no WhatsApp" class="whatsapp__icon" width="24" height="24">

    </button>

    <div id="whatsapp-box" class="whatsapp__box" role="region" aria-hidden="true">

        <p class="whatsapp__text">
            Quer falar no<br> WhatsApp?
        </p>

    </div>

</a>