<section class="banner" aria-labelledby="banner-titulo">
    <div class="banner__container">

        <!-- IMAGEM -->
        <picture class="banner__imagem">
            <source media="(max-width: 569px)" srcset="imagens-home/banner-mobile.avif">
            <img src="imagens-home/desktop.avif"
                alt="Cida e Romildo em ambiente natural relacionado à educação e meio ambiente" width="500" height="400"
                loading="eager" fetchpriority="high">
        </picture>

        <a href="/sobre" class="banner__botao" aria-label="Saiba mais sobre a história da Cida e Romildo">
            Saiba Mais
        </a>
    </div>
</section>