.banner {
  background-color: var(--cor-azul);
  display: flex;
  justify-content: center;
}

/* LIMITADOR */
.banner__container {
  max-width: 1000px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* IMAGEM */
.banner__imagem img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== Botão ===== */
.banner__botao {
  position: absolute;

  /* POSIÇÃO */
  left: clamp(10px, calc(-2.86px + 4.02vw), 20px);
  bottom: clamp(20px, calc(-12.14px + 10.04vw), 45px);

  /* TAMANHO */
  width: clamp(119px, calc(53.4px + 20.5vw), 170px);
  height: clamp(40px, calc(27.14px + 4.02vw), 50px);


  /* ESTILO */
  background: var(--cor-bege);
  color: var(--cor-branco);

  font-family: var(--fonte-Satisfy);
  font-size: clamp(16px, 2.2vw, 25px);

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: underline;
  text-decoration-color: var(--cor-branco);

  border-radius: clamp(5px, 0.5vw, 7px);
  transition: 0.3s ease;
}

/* DESKTOP / TABLET (570+) */
@media (min-width: 569px) {
  .banner__botao {

    position: absolute;

    /* POSIÇÃO FLUIDA */
    left: calc(10px + (28 - 10) * ((100vw - 570px) / 430));
    bottom: calc(13px + (35 - 13) * ((100vw - 570px) / 430));

    /* TAMANHO FLUIDO */
    width: calc(145px + (170 - 145) * ((100vw - 570px) / 430));
    height: calc(40px + (50 - 40) * ((100vw - 570px) / 430));
  }
}

@media (min-width: 1000px) {
  .banner__botao {
    left: 28px;
    bottom: 35px;
    width: 170px;
    height: 50px;
  }
}