<article class="banner">
    <div class="banner__container">

        <div class="banner__content">

            <!-- Slogan -->
            <h2 class="banner__slogan">
                Produzir, Educar e Servir é o trinômio que nos identifica.
            </h2>

            <!-- Texto Destaque -->
            <h1 class="banner__title">
                Somos a Cida e Romildo, um casal com raízes na
                <span class="destaque--bege">educação</span> e no
                <span class="destaque--bege">meio ambiente</span>,
                unidos por uma paixão.
            </h1>

            <!-- Botão -->
            <a routerLink="sobre" class="banner__button">
                Saiba Mais
            </a>

        </div>

        <!-- Imagem -->
        <figure class="banner__image">
            <img src="/imagens-home/banner.png" alt="Casal produtor de café">
            <div class="sombra-interna"></div>
        </figure>
        
    </div>
</article>