<article class="banner">
    <div class="banner__container">
        <figure class="banner__imagem">
            <img src="imagens-home/banner-mobile.avif" fetchpriority="high" alt="Banner Dominus Cafés Mobile" srcset=""
                class="banner__imagem--mobile">

            <img src="imagens-home/banner-desktop.avif" alt="Banner Dominus Cafés Desktop" srcset=""
                class="banner__imagem--desktop" width="721" height="577">

            <!-- Botão -->
            <a routerLink="sobre" class="banner__button">
                Saiba Mais
            </a>

        </figure>

    </div>
</article>