/* ===== Banner ===== */
.banner {
    width: 100%;
    background: var(--cor-azul);

    display: flex;
    justify-content: center;
}

/* ===== Container ===== */
.banner__container {
    width: 100%;
    max-width: 950px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}



/* ===== Imagem ===== */
.banner__imagem {
    height: 100%;
    position: relative;
}

.banner__imagem--mobile {
    display: block;
}

.banner__imagem--desktop {
    display: none;
}

@media (min-width: 570px) {
    .banner__imagem--mobile {
        display: none;
    }

    .banner__imagem--desktop {
        display: block;
    }
}

/* ===== Botão ===== */
.banner__button {
    position: absolute;
    bottom: clamp(15px, 5vw, 30px);
    left: 15px;

    width: calc(113px + 2vw);
    height: clamp(50px, 6vw, 69px);

    background: var(--cor-bege);
    color: var(--cor-branco);

    font-family: var(--fonte-Satisfy);
    font-size: clamp(19px, 2vw, 25px);

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: underline;
    text-decoration-color: var(--cor-branco);

    border-radius: clamp(5px, 0.5vw, 7px);
}

/* A partir de 400px entra o fluido */
@media (min-width: 400px) {
    .banner__button {
        width: clamp(145px, 18vw, 197px);
    }
}

@media (min-width: 570px) {
    .banner__button {
        bottom: clamp(20px, 4vw, 30px);
        left: 15px;
    }
}