@import 'reset.css';

:root {
    --fonte-Poppins: "Poppins", sans-serif;
    --fonte-Raleway: "Raleway", sans-serif;
    --fonte-Satisfy: "Satisfy", cursive;

    --fonte-bold: 700;
    --fonte-medio: 500;
    --fonte-regular: 400;

    --cor-azul: #265289;
    --cor-bege: #C3924D;
    --cor-branco: #EFECEA;
}

/* Todas as páginas */
.container {
    min-height: 100vh;
}

/*  invisível visualmente
    visível para leitor de tela */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*  */
.cor-texto-azul {
    color: var(--cor-azul);
}

.cor-texto-bege {
    color: var(--cor-bege);
}

.fonte-Poppins {
    font-family: var(--fonte-Poppins);
}

.fonte-bold {
    font-weight: var(--fonte-bold);
}

.margem-top-bottom {
    margin: 2em 0;
}

.texto-centro {
    text-align: center;
}

/* ===== Destaque ===== */
.destaque--bege {
    color: var(--cor-bege);
}

.destaque--azul {
    color: var(--cor-azul);
}

.destaque--bold {
    font-weight: var(--fonte-bold);
}