/* ===== Reset básico ===== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== body e html ===== */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: #EFECEA;
    padding-top: clamp(70px, 12vw, 90px);
}

@media (min-width: 720px) {
    body {
        padding-top: clamp(86.3px, 10vw, 158px);
    }
}

html {
    scroll-behavior: smooth;
}

/* ===== Imagens e mídia ===== */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ===== Inputs ===== */

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    cursor: pointer;
    background: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ===== Links ===== */

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* ===== Listas ===== */

ul,
ol {
    list-style: none;
}

/* ===== Títulos ===== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

/* style global */
:root {
    --fonte-Poppins: "Poppins", sans-serif;
    --fonte-Raleway: "Raleway", sans-serif;
    --fonte-Satisfy: "Satisfy", cursive;

    --fonte-bold: 700;
    --fonte-medio: 500;
    --fonte-regular: 400;

    --cor-azul: #265289;
    --cor-bege: #C3924D;
    --cor-branco: #EFECEA;
}

/*  invisível visualmente
    visível para leitor de tela */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ===== Destaque ===== */
.destaque--bege {
    color: var(--cor-bege);
}